<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    <meta name="description" content="Technical articles about Symfony and TDD">
    <meta name="author" content="Loïc Faugeron">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ page.url }}"/>
    {% block head_meta %}
    <link rel="alternate" href="{{ site.url }}/feed/atom.xml" type="application/atom+xml" title="{{ site.title }}"/>
    {% endblock %}

    <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.url }}/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.url }}/css/dop-dop-dop.css">
    <link rel="stylesheet" href="{{ site.url }}/css/github-dark.min.css">
</head>
<body>
    <div class="container">
        <header class="title">
            <h1>
                <a href="{{ site.url }}/">Loïc Faugeron</a>
                <span class="sub-title">Technical Blog</span>
            </h1>
            
            <nav class="row">
                <a class="button two columns" href="{{ site.url }}/about">About</a>
                <a class="button two columns" href="{{ site.url }}/">Articles</a>
                <a class="button three columns" href="{{ site.url }}/best-articles">Best Articles</a>
                <a class="button two columns" href="{{ site.url }}/feed/atom.xml">RSS</a>
                <a class="button two columns" href="https://github.com/gnugat/gnugat.github.io/tree/main/_sculpin">Sources</a>
            </nav>
        </header>

        <article>
            <header>
                {% block page_title %}<h2>{{ page.title }}</h2>{% endblock %}
                {% block article_header %}
                {% endblock %}
            </header>

            {% block content_wrapper %}
            {% endblock %}

            <footer>
                {% block article_footer %}
                {% endblock %}
                <hr />
            </footer>
        </article>

        <footer>
            <nav class="row">
                <a class="button two columns" href="{{ site.url }}/about">About</a>
                <a class="button two columns" href="{{ site.url }}/">Articles</a>
                <a class="button three columns" href="{{ site.url }}/best-articles">Best Articles</a>
                <a class="button two columns" href="{{ site.url }}/feed/atom.xml">RSS</a>
                <a class="button two columns" href="https://github.com/gnugat/gnugat.github.io/tree/main/_sculpin">Sources</a>
            </nav>
        </footer>
    </div>

    <script src="{{ site.url }}/js/highlight.min.js"></script>
    <script type="text/javascript">hljs.highlightAll();</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q9V6KYH7PW"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Q9V6KYH7PW');
    </script>
</body>
</html>
