{% extends 'vendor/carew/theme-bootstrap/layouts/post.html.twig' %}

{% block content_main %}
  <article>
    <div class="date">
      <i class="icon-calendar"></i>
      {{ carew.document.metadatas.date|date('M jS, Y') }}
    </div>

    <hr />

    <div class="body">
      {{ carew.document.body|raw }}
    </div>

    {% if carew.document.tags|length > 0 %}
      <hr>
      <h4>Tags:</h4>
      <ul class="tag_box inline">
        {% for tag in carew.document.tags %}
          <li>
            <a href="{{ path('tags/'~tag) }}">{{ tag|title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </article>
{% endblock %}
