{% extends 'vendor/carew/theme-bootstrap/layouts/post.html.twig' %}

{% block content_main %}
    <article>
        <ul class="list-inline">
            <li>
                {{ carew.document.metadatas.date|date('d/m/Y') }}
            </li>
            {% for tag in carew.document.tags %}
            <li>
                <a href="{{ path('tags/'~tag) }}"><span class="label label-primary">{{ tag|title }}</span></a>
            </li>
            {% endfor %}
        </ul>
        <hr />
        <div class="body">
            {{ carew.document.body|raw }}
        </div>
    </article>
{% endblock %}
