{% extends "default" %}

{% block page_title %}
<h2>
    {{ page.title }}
    <span class="sub-title">{{ post.date | date('d/m/Y') }}</span>
</h2>
{% endblock %}

{% block article_header %}
    {% if page.tags %}
        <nav>
            {% for tag in page.tags %}
            <a class="button" href="{{ site.url }}/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>
            {% endfor %}
        </nav>
    {% endif %}
{% endblock %}

{% block content_wrapper %}
    {{ page.blocks.content|raw }}
{% endblock %}

{% block article_footer %}
    {% if page.previous_post or page.next_post %}
        <nav class="article">
            <ul>
                {% if page.next_post %}
                    <li>Next: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                {% endif %}
                {% if page.previous_post %}
                    <li>Previous: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
